.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    .home-text{
        display: flex;
        justify-content: space-between;
        width: 92%; 
        padding: 20px;
        

        h2{
            color: var(--text-color);
        }

        span{
            font-size: 14px;
            padding: 25px 0 0 0;
            color: var(--grey-color);
        }
    }

    .img-container{
        img{
            object-fit: cover;
            width: 395px;
            height: 269px;
            border-radius: 8%;
            padding: 5px;
        }

        .image-text{
            display: flex;
            flex-direction: row;
            margin-bottom: -10px;
            
            h4{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                text-transform: uppercase;
                border: 1px solid var(--grey-color);
                color: var(--grey-color);
                border-radius: 50px;
                margin: 5px;
                font-weight: 700;
                font-size: 12px;
            }

            p{
                font-size: 14px;
                color: var(--grey-color-two);
            }

            .rating {
                display: flex;
                color: var(--app-color);
                padding: 15px;
                padding: 15px 0 0 45px; 
            }    
            
            span{
                font-size: 14px;
                justify-content: flex-end;
                padding: 15px 0 0 5px; 
            }
        }

        p{
            display: flex;
            color: var(--text-color);
            font-weight: 600;
            padding: 0 0 0 5px;
        }
    }
}