.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    .home-text{
        display: flex;
        justify-content: space-between;
        width: 92%; 
        padding: 20px;
        

        h2{
            color: var(--text-color);
        }

        span{
            font-size: 14px;
            padding: 25px 0 0 0;
            color: var(--grey-color);
        }
    }

    .cards-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        margin: 0 20px;
        padding: 0 0 0 30px;

        .img-container{
            display: flex;
            flex-direction: column;
        
            img{
                object-fit: cover;
                width: 375px;
                height: 250px;
                border-radius: 10%;
            }

            .image-text{
                display: flex;
                flex-direction: row;
                margin-bottom: -10px;
            
                h6{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    border: 1px solid var(--grey-color);
                    color: var(--grey-color);
                    border-radius: 50px;
                    margin: 10px;
                    padding: 8px;
                    font-weight: 700;
                    font-size: 12px;
                }
                
                p{
                    font-size: 14px;
                    color: var(--grey-color-two);
                }
                
                .rating-container {
                    display: flex;
                    align-items: center; 
                    padding: 15px;
                    margin-left: auto;

                .rating {
                    color: var(--app-color);
                    margin-right: 5px; /* spacing between rating and span */
                }
                
                span {
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
            }
        }

        p{
            display: flex;
            color: var(--text-color);
            font-weight: 600;
            padding: 0 0 0 5px;
        }
    }
}