*{
    font-family: 'Mulish', sans-serif;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px; /* padding to create space at the sides */

    .search-bar{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        border: 1px solid var(--border-color); 
        border-radius: 50px;
        padding: 10px;

        .location,
        .guests {
            flex: 1; 
            padding: 5px; 
            border-right: 1px solid var(--border-color); 
            box-sizing: border-box;
        }

        .location{
            color: var(--text-color);
        }

        .guests{
            color:var(--light-grey-color);
            padding: 0 0 0 20px;
        }
    
        .search-icon {
            margin-left: 10px; 
            color: var(--app-color);
        }
    }
}