.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    padding: 20px 50px;

    .search-bar{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        border: 1px solid var(--border-color); 
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;

        .location,
        .guests {
            flex: 1; 
            padding: 5px; 
            border-right: 1px solid var(--border-color); 
            box-sizing: border-box;
        }

        .location{
            color: var(--text-color);
        }

        .guests{
            color:var(--light-grey-color);
            padding: 0 0 0 20px;
        }
    
        .search-icon {
            margin-left: 10px; 
            color: var(--app-color);
        }
    }
    
    .blurred-background {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, white 50%, transparent 50%); 
        backdrop-filter: blur(2px);
        z-index: 999; 

        .content{
            position: absolute;
            top: 40px;
            width: 100%;
        }
    }
}